@font-face { 
  font-family: 'PFHandbookPro-Bold'; 
  src: url('../fonts/PFHandbookPro-Bold.woff2') format('woff2'),
    url('../fonts/PFHandbookPro-Bold.eot') format('eot'),
    url('../fonts/PFHandbookPro-Bold.svg') format('svg'),
    url('../fonts/PFHandbookPro-Bold.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
    url('../fonts/PFHandbookPro-Bold.woff') format('woff'); 
  font-weight: 700; 
  font-style: normal; 
}
@font-face { 
  font-family: 'PFHandbookPro-Thin'; 
  src: url('../fonts/PFHandbookPro-Thin.woff2') format('woff2'),
    url('../fonts/PFHandbookPro-Thin.eot') format('eot'),
    url('../fonts/PFHandbookPro-Thin.svg') format('svg'),
    url('../fonts/PFHandbookPro-Thin.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
    url('../fonts/PFHandbookPro-Thin.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 1.4;
  background: #ffffff;
  color: #5f9c57;
  position: relative;
  font-family: 'PFHandbookPro-Thin', Arial, sans-serif;
}

p {
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
li {	
	list-style: none;
}
a {
  color: #5f9c57;
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}
.inst-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inst-adress {
  width: 100%;
  font-size: 36px;
  text-align: center;
  background-color: #5f9c57;
  color: #ffffff;
  padding: 13px;
  height: 5%;
}
.inst-wrapper {
  max-width: 750px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 30px;
  text-align: center;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inst-title {
  font-size: 72px;
  margin-top: 59px;
  font-family: 'PFHandbookPro-Bold', Arial, sans-serif;
}
.inst-logo {
  margin: 0 auto;
  width: 208px;
  height: 208px;
  padding: 18px 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 6px 19px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 19px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 19px -2px rgba(0,0,0,0.75);
  position: absolute;
  top: -41px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 2;
}
.inst-main {
  position: relative;
  padding: 89px 30px 38px;
  margin-top: 160px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 19px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 19px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 19px -2px rgba(0,0,0,0.75);
}
.inst-logo img {
  width: 100%;
}
.inst-social {
  margin: 0 auto;
}

.inst-social__item {
  display: inline-block;
  margin: 20px;
}
.inst-social__item svg {
  width: 104px;
  height: 104px;
}
.inst-main__txt {
  margin-top: 29px;
  margin-left: 25px;
  font-size: 46px;
  text-align: left;
}
.inst-main__tel {
  font-size: 72px;
  line-height: 1;
  font-family: 'PFHandbookPro-Bold', Arial, sans-serif;
}
.inst-wtsapp {
  display: block;
  margin: 15px;
  font-size: 36px;
  text-align: right;
}
.inst-wtsapp span {
  border-bottom: 2px solid #5f9c57;
  padding: 10px 9px 0 10px;
  position: relative;
  top: -20px;
}
.inst-wtsapp  svg {
  width: 54px;
  height: 54px;
}
.inst-go-to-site {
  display: block;
  padding: 12px;
  font-size: 46px;
  font-family: 'PFHandbookPro-Bold', Arial, sans-serif;

}
.inst-btn-write {
  display: block;
  margin: 102px 0 6px;
  padding: 0px;
  font-size: 82px;
  background-color: #5f9c57;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 19px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 19px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 19px -2px rgba(0,0,0,0.75);
}
.inst-price {
  font-size: 42px;
  border-bottom: 2px solid #5f9c57;
}

@media screen and (max-width: 749px) {
  .inst-wrap {
    height: 100vh;
    min-height: 420px;
  }
  .inst-wrapper {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }
  .inst-adress {
    font-size: 16px;
    padding: 1%;
  }
  .inst-main {
    position: relative;
    padding: 17% 10% 1%;
    margin-top: 10%;
  }
  .inst-title {
    font-size: 31px;
    margin-top: 1%;
  }
  .inst-logo {
    width: 90px;
    height: 90px;
    padding: 7px 12px;
    top: 1%;
  }
  .inst-social__item {
    margin: 6px 10px;
  }
  .inst-social__item svg {
    width: 45px;
    height: 45px;
  }  

  .inst-main__txt {
    margin-top: 0;
    margin-left: 5px;
    font-size: 23px;
  }

  .inst-main__tel {
    font-size: 34px;
  }
  .inst-wtsapp {
    margin: 3px;
    font-size: 22px;
  }
  .inst-wtsapp span {
    padding: 0px 9px 0 5px;
    top: -12px;
  }
  .inst-wtsapp svg {
    width: 37px;
    height: 37px;
  }
  .inst-go-to-site {
    font-size: 22px;
    padding: 3%;
  }
  .inst-btn-write {
    margin: 0;
    padding: 0px;
    font-size: 34px;
    line-height: 1.2;
  }
  .inst-price {
    font-size: 22px;
  }



}
